*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #F7F5F2;

}

header{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/header.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}

.menu{
  position: relative;
  margin-top: 2%;
  display: flex;
}

.logo{
  height: 8vh;
  width: 20vh;
  background-color: turquoise;
  display: flex;
  margin-left: 8%;
}

.logo:hover{
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgb(0,0,0, 0.3);
}

nav{
  display: flex;
  flex-direction: row;
  flex: auto;
  margin-left: 40%;
}

nav button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  font-weight: bold;
  opacity: 50%;
  border: none;
  width: 300px;
  height: 80px;
  font-size: 40px;
  padding: 2%;

}

nav button:hover{
  cursor: pointer;
  background-color: 	rgb(255,255,255, 0.3);
  border-radius: 50px;
  box-shadow: 0 0 20px -5px rgb(0,0,0, 0.3);
}

.b1{
  font-weight: bold;
  opacity: 80%;
}

.b5 img{
  height: 50px;
}

h1{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 8vh;
  opacity: 65%;
  margin-top: 200px;
}

main{
  height: 100vh;
  width: 100%;
  position: relative;
  flex-direction: column;

}

h2 {
  padding: 0% 8%;
  font-size: 4vh;
  color: #4D4D4D;
  margin: 2%;

}

h3{
  font-size: 2.5vh;
  color: #777777;
  margin-bottom: 20px;
}

p {
  color: #535353;
}

.section1{
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0% 8%;
  margin: 0%;
  position: relative;
}

.left{
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 10%;
 
}

.left p {
  display: flex;
  justify-content: flex-start;
  font-size: 1.8vh;
  font-weight: bold;
  opacity: 90%;
  
}

.center{
  width: 10%;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  margin-left: 60px;
}

.center li{
  list-style: none;
  font-size: 1.5vh;
  font-weight: bold;
  opacity: 80%;
}

.center img {
  width: 80px;
  height: 80px;
  margin: 1.5%;
}


.right{
  position: relative;
  width: 1700px;
  height: 800px;
  overflow: hidden;
}

.right img {
  position: absolute;
  width: 70%;
  height: 90%;
  top: -10%;
  left: -20%;
  right: -100%;
  bottom: -10%;
  margin: auto;
}


.section2{
  height: 70vh;
  background-color: #F3F3F3;
  display: inline-block;
  width: 100%;
  height: 80%;
}


.imgsection2 {
  display: flex;
  flex-direction: row;
  background-color: black;
  list-style: none;
  height: 90%;
  width: 100%;
}

.imgsection2 p{
  font-size: 5vh;
  font-weight: bold;
  color:white;
  padding-top: 70%;
}

.imgsection2 button{
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 100%;
  border: none;
  opacity: 80%;
}

.imgsection2 button:hover{
  cursor: pointer;
  transition: ease-in-out 0.3s;
  opacity: 100%;
}

button p:hover{
  transition: ease-out 0.3s;
  font-size: 9vh;
  opacity: 0;
}

.a{
  background-image: url(../images/bathroom.jpeg);
  
}

.b{
  background-image: url(../images/kitchen.jpeg);

}

.c{
  background-image: url(../images/bedroom.jpeg);
}

.d{
  background-image: url(../images/livingroom.jpeg);
}

