.container{
  display: flex;
  flex-flow: wrap;
  margin: auto;

}

header{
  background-color: red;
  height: 50vh;
  width: 100%;
  position: relative;

}

main{
  background-color: yellow;
  height: 70vh;
  width: 100%;
  position: relative;
  flex-direction: column;
  padding: 5%;
}

footer{
  background-color: green;
  height: 10vh;
  width: 100%;
  position: relative;
}

.section1{
  height: 20vh;
  background-color: black;
}

.section2{
  height: 50vh;
  background-color: white;
}