
.container{
  display: flex;
  flex-direction: column;
  margin: auto;

}

header{
  background-color: red;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(images/header.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.menu{
  display: flex;
  align-content: space-between;
}

.logo{
  height: 10vh;
  width: 30vh;
  background-color: turquoise;
}

nav{
  display: flex;
  flex-direction: row;
  background-color: violet;
  align-content: space-around;
}

nav button{
  display: flex;
  background-color: yellow;
  border: none;

}

h1{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 8vh;
}

main{
  background-color: #f3f3ff;
  height: 100vh;
  width: 100%;
  position: relative;
  flex-direction: column;

}

h2 {
  padding: 0% 8%;
  background-color: #f3f3ff;
  font-size: 4vh;

}

h3{
  font-size: 2vh;
}

.section1{
  height: 30vh;
  background-color: #f3f3ff;
  display: flex;
  padding: 0% 8%;
  margin: 0%;
  position: relative;
}

.left{
  background-color #B0A3;
  width: 80%;
}

.right{
  background-color: teal;
  width: 40%;
}

.right img {
  max-height: 100%;
}

.ulsection1{
  background-color: teal;
  width: 40%;
}

.ulsection1 li{
  display: flex;
  max-height: 100%;
  list-style: none;
}


.section2{
  height: 70vh;
  background-color: white;
  display: inline-block;
  width: 100%;
  margin-top: 0%;
  padding-top: 0%;
}


.ulsection2 {
  display: flex;
  flex-direction: row;
  background-color: tomato;
  list-style: none;
  height: 100%;
  width: 100%;
}

.ulsection2 button{
  font-size: 4vh;
  font-weight: bold;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border: none;

}

.a{
  background-image: url(images/bathroom.jpeg);
  
}

.b{
  background-image: url(images/kitchen.jpeg);

}

.c{
  background-image: url(images/bedroom.jpeg);
}

.d{
  background-image: url(images/livingroom.jpeg);
}

footer{
  display: flex;
  background-color: black;
  height: 10vh;
  width: 100%;
  position: relative;
}

footer p {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #f3f3ff;
  color: black;
  opacity: 40%;
  font-size: 30px;
  
}